/* CSS NEW DESIGN */

/* @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */

.board {
  height: 170px;
  margin: 50px;
  margin-top: 120px;
  box-shadow: 3px 3px 10px #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.input-money {
  font-size: 24px;
  color: #41b939;
  text-align: center;
  border: 0;
  outline: none;
  width: 100%;
  background-color: transparent;
  margin-top: -10px;
}

.card {
  margin-top: -180px;
  transition: 1s;
  width: 300px;
  height: 140px;
  min-width: calc(290px * 2 / 3);
  min-height: calc(120px);
  background: linear-gradient(268.94deg, #bcf0fd -40.29%, #45acff 58.01%);
  border-radius: 10px;
  display: flex;
  font-size: 11px;
  box-shadow: 3px 3px 10px #b6b6b6;
}

.left > .card {
  margin-left: 0px;
  animation: fadein 0.3s ease-in forwards,
    slide_to_right 1s ease-in-out forwards;
}

.right > .card {
  margin-right: 35px;
  animation: fadein 0.3s ease-in forwards, slide_to_left 1s ease-in-out forwards;
}

.right {
  justify-content: flex-end;
  animation: fad;
}

div.card div {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

div.card label {
  text-wrap: none;
  flex-wrap: nowrap;
  display: block;
  white-space: nowrap;
}

.label-account {
  color: white;
  margin-left: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
}

.card-content-icon {
  margin: 0 !important;
}

.card-content > img {
  margin-top: 5px;
}

.card {
  opacity: 0;
}

.left.card {
  margin-right: 1000px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide_to_left {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 10%;
  }
}

@keyframes slide_to_right {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 10%;
  }
}

.left,
.center,
.right {
  display: flex;
  flex: 1;
}

.left,
.right {
  z-index: 101;
}

div.card-content {
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

/* transferir */

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
@-ms-keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
.transfer-body {
  background-color: #0d74ff;
}

.scroll-down {
  margin: 0;
  border: 2px solid #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.scroll-down a {
  display: block;
  opacity: 0;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  -moz-background-size: 0 auto;
  -o-background-size: 0 auto;
  -webkit-background-size: 0 auto;
  background-size: 0 auto;
  -webkit-animation: pulse 1.5s 0s infinite normal ease forwards;
  -moz-animation: pulse 1.5s 0s infinite normal ease forwards;
  -o-animation: pulse 1.5s 0s infinite normal ease forwards;
  animation: pulse 1.5s 0s infinite normal ease forwards;
  background-image: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg");
  background-repeat: no-repeat;
}
.scroll-down a:before,
.scroll-down a:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg")
    no-repeat center top;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.scroll-down a:before {
  -webkit-animation: pulse 1.5s 0.25s infinite normal ease forwards;
  -moz-animation: pulse 1.5s 0.25s infinite normal ease forwards;
  -o-animation: pulse 1.5s 0.25s infinite normal ease forwards;
  animation: pulse 1.5s 0.25s infinite normal ease forwards;
}
.scroll-down a:after {
  -webkit-animation: pulse 1.5s 0.5s infinite normal ease forwards;
  -moz-animation: pulse 1.5s 0.5s infinite normal ease forwards;
  -o-animation: pulse 1.5s 0.5s infinite normal ease forwards;
  animation: pulse 1.5s 0.5s infinite normal ease forwards;
}
.scroll-down a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* --------------------------------- */

#form-field div div {
  justify-content: center;
  display: flex;
  align-items: center;
}

/* ----------------------------------- */

/* @import url("https://fonts.googleapis.com/css?family=Roboto:400"); */

.wrapper {
  margin: 0 auto;
  width: 200px;
  height: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -50px;
}

.wrapper a {
  position: relative;
  background: #121212;
  bottom: 0;
  color: #fff;
  height: 45px;
  line-height: 45px;
  position: absolute;
  width: 100%;
  padding: 0 0 0 20px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Arial";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: 0.1s all ease-in;
}
.wrapper a span {
  display: block;
  width: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  height: 10px;
  position: absolute;
}

.wrapper a span span {
  background: url(http://thomaspodgro.com/source/arrow.png);
  display: block;
  width: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0px;
  height: 10px;
  opacity: 1;
  position: absolute;
}

.wrapper a .arrow:before {
  content: "";
  background: url(http://thomaspodgro.com/source/arrow.png);
  display: block;
  width: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  height: 10px;
  position: absolute;
  opacity: 0.5;
}

.wrapper a .arrow:after {
  content: "";
  background: url(http://thomaspodgro.com/source/arrow.png);
  display: block;
  width: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
  height: 10px;
  position: absolute;
  opacity: 0.3;
}

.wrapper a:hover .arrow:before {
  animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
}

.wrapper a:hover .arrow:after {
  animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
}

.wrapper a:hover .arrow span {
  animation: animate-arrow-1 1s ease-in-out infinite;
}

@keyframes animate-arrow-1 {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animate-arrow-2 {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateX(0px);
    opacity: 0.5;
  }
}
@keyframes animate-arrow-3 {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  70%,
  100% {
    transform: translateX(0px);
    opacity: 0.3;
  }
}

li.ant-menu-item {
  outline: none;
}

#form-field > div:nth-child(1) > div.left > div:hover,
#form-field > div:nth-child(1) > div.right > div:hover {
  transform: scale(1.1);
}

/* ---------------- */
.form-group-button {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  bottom: 50px;
}

#form-field {
  padding-bottom: 200px;
}

.form-group-button {
  justify-content: flex-start !important;
  margin-top: 25px;
}

#cdk-overlay-4 > nz-modal > div > div.ant-modal-wrap > div > div > div > div > div.ant-modal-confirm-body > div {
  margin: 0 !important;
}

 nz-date-picker > nz-picker > span > input{
  background-color: unset;
}

nz-date-picker > nz-picker > span > input::placeholder{
  color: black;
}
