<div class="fab">
  <span class="fab-action-button">
    <button
      style="box-shadow:  0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23); width: 56px; height: 56px"
    >
      <i class="fa fa-inbox" style="font-size: 32px"></i>
    </button>
  </span>
  <ul class="fab-buttons">
    <li class="fab-buttons__item" routerLink="/transfer/new-transfer">
      <a class="fab-buttons__link" data-tooltip="Nova Trasnferência">
        <i class="fas fa-user-plus" style="font-size: 24px; color:#3daa5b"></i>
      </a>
    </li>
  </ul>
</div>
